* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.postBox {
  padding-bottom: 10px;
  border: 0.5px solid grey;
  margin: auto;
  width: 50%;
  /* border-radius: 30px; */
}

/* .postBox > form {
  display: flex;
  flex-direction: column;
} */

.postBox_input {
  padding: 20px;
  display: flex;
}

.postBox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.postBox_button {
  background-color: cornflowerblue !important;
  color: white !important;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
  margin-left: 80px !important;
  width: 180px;
}

.postOut {
  padding: 0.2rem;
}

.post {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 30px;
  width: 50%;
  margin: auto;
}

.post_body {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post_footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}

.post_headerDesc {
  margin-bottom: 10px;
  font-size: 15px;
  margin-left: 10px;
}

.post_headerText > h3 {
  display: flex;
  font-size: 15px;
  margin-left: 10px;
}

.postDetail {
  color: grey;
  margin-left: 2px;
  opacity: 75%;
}

.updateProfile {
  padding-top: 2rem;
}

.updateProfile > form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
