* {
  margin: 0;
  padding: 0;
  font-family: 'BlinkMacSystemFont';
  /* color: #630606 */
}

:root {
  --dark-blue: #101e36;
  --light-blue: #a0dce7;
  --white: #fff;
  --yellow: #e8aa0f;
  --content-width-desktop: 1084px;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #f5f5f5;
}

.landingpage {
  background: var(--dark-blue);
  color: white;
  text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.5rem;
  margin: 0 0 2rem 0;
  font-weight: 200;
  color: #630606;
}

h2 {
  font-size: 2.25rem;
  font-weight: 200;
  color: #630606;
}

h3 {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0;
  /* color: #630606; */
}

h6 {
  font-family: 'Book Antiqua';
}

/*landing page*/

.hero .section-container {
  margin-right: 0;
  margin-left: 0;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero .section-container h1 h2 {
  margin: 0;
}

.hero .section-container p {
  margin: 2rem 0;
}

.hero .section-container img {
  width: 100%;
  height: auto;
}

.section-container img {
  border: 1px solid black;
}

.how-it-works {
  display: flex;
  padding: 2rem 0, 0, 0;
  align-items: center;
}

.how-it-works .section-container {
  border-bottom: #101e36 5px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works .section-container > h2 {
  margin-top: 50px;
  text-decoration: underline;
  text-align: center;
}

.how-it-works .content-container {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 88px;
  margin-top: 2rem;
}

.how-it-works .container h2 {
  margin: 2rem 0;
  text-align: center;
}

.how-it-works .imgContainer {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 600px;
}

.howitworksimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.colorme {
  padding-top: 50px;
  background-color: #ffbf00;
}

.login .logincontainer {
  color: #101e36;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.login .logincontainer a {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: white;
  border: 1px solid white;
  font-weight: 900;
  padding: 10px;
}

.login .logincontainer a:hover {
  border: 1px solid #101e36;
  color: #101e36;
  transition: 0.3s ease;
}

.login h1 {
  text-align: center;
  margin-bottom: 0;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 2rem 2rem 2rem 100px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerDiv,
.credit {
  padding: 25px;
}

footer .credit {
  margin-left: 100px;
}

footer ul li {
  margin: 10px;
  display: block;
  text-decoration: none;
  font-weight: 700;
}

footer p {
  font-style: italic;
}

.section-container .mainLogo {
  border: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

ul {
  list-style: none;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

/*   post   */

.postBox {
  padding-bottom: 10px;
  border: 0.5px solid #bcbcbc;
  margin: auto;
  border-radius: 20px;
  background-color: white;
}

.postBoxMain {
  width: 70%;
}

.postBox_input {
  padding: 20px;
  display: flex;
}

.postBox_input > input {
  padding: 5px;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  width: 60%;
}

.postBox_button {
  background-color: #630606;
  color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  width: 100px;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.postBox_button:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.postBox_button:active {
  opacity: 0.8;
}

.close_button {
  background-color: #630606;
  color: white;
  padding: 8px;
  font-size: 14px;
  border-radius: 30px;
  width: 90px;
  font-weight: bold;
  margin-left: 245px;
  margin-top: 8px;
  cursor: pointer;
  border: none;
}
.close_button:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.close_button:active {
  opacity: 0.8;
}

.postOut {
  padding: 0.2rem;
}

/* .postnotcomment {
  /* margin-bottom: 35px; */
/* }  */

.postoutline {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid lightgray;
  background-color: white;

  padding: 15px;
  border-radius: 15px;
}

.post {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  background: white;
  width: 100%;
  margin: auto;
}

.post_body {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post_footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}

.post_header {
  width: 100%;
}

.post_headerDesc {
  margin-bottom: 10px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}

.post_headerText > h3 {
  display: flex;
  font-size: 15px;
  margin-left: 10px;
  align-items: center;
}

.post_headerText > h3 div {
  margin-left: 10px;
}

.postDetail {
  color: grey;
  margin-left: 2px;
  opacity: 75%;
}

.profileInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  display: flex;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
/*  chat */
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 100%;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}

.chat-window .chat-body {
  height: calc(749px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
  font-size: 20px;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 300px;
  background-color: #43a047;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 8px;
  padding-left: 8px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}

.greenButton {
  color: #43a047 !important;
}

.hide {
  opacity: 0 !important;
}

/* profile > update profile */

.updateProfile {
  padding-top: 2rem;
}

.updateProfile > form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#mainDiv {
  display: flex;
  margin: 0;
}

#routes {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chatButton {
  border-bottom: 1px solid !important;
}

.lastMessage {
  text-transform: none;
  color: grey;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  opacity: 50%;
}

/* .MuiButton-root {
  border-radius: 0 !important;
} */

/*  NAV   */

.mainBar {
  /* background-color: white;
  background: linear-gradient(to bottom, rgba(#FFFFFF, 1) 10%, rgba(#BFBFBF, 0.20) 50%),
  linear-gradient(to top, rgba(#000000, 0.12) 0%, rgba(#E7E7E7, 0.14) 50%), #F5F5F5;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.5),
  0 -4px 4px rgba(0, 0, 0, 1), /*top back shadow needed*/
  /* inset 0 -7px 150px rgba(0, 0, 0, 0.05);  */
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #1876f2; */
  padding: 5px 5%;
  height: 60px;
  /* background-color: white; */
  /* box-shadow: 0 4px 11px rgba(0, 0, 0, 0.5),
  0 -4px 4px rgba(0, 0, 0, 1), /*top back shadow needed
  inset 0 -7px 150px rgba(0, 0, 0, 0.05);  */
  background-color: rgb(253 251 251);

  /* background: #f7f7f7; */

  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0 15px 2px rgb(0, 0, 0, 0.1);

  /* box-shadow: 0 2px 1px -1px rgb(0,0,0,0.2), 0px 1px 0px rgb(0,0,0,0.14), 0px 1px 3px 0px rgb(0,0,0,0.12); */

  /* position: fixed;
  width: 90%;
  z-index: 1; */
}

.mainNav a {
  width: 28px;
  margin: 0 15px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  justify-content: flex-end;
}

.muiNav {
  /* position: fixed;
  z-index: 1; */
}

.logo {
  width: 90px;
  margin-right: 45px;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: -12px;
}

/*  profile page */

.profilePage {
  display: flex;
}

.wallpaper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.wallpapercontent {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.center {
  flex-basis: 80%;
  margin-top: 25px;
}

/* home page */

.homeposts {
  flex-basis: 65%;
  margin: 0 auto;
}

.suggestedPoster {
  /* height: 200px;
  width: 150px; */
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
}

.suggestionList {
  display: flex;
  flex-direction: column;
}

/* single media */

.singlemediacontainer {
  display: flex;
  justify-content: space-around;
}

.singlemediaimage,
.singlemediacontent .singlemediatitle {
  padding: 25px;
}

.singlemediacontent {
  flex-basis: calc(100% / 3 * 2);
  padding: 50px;
}

.singlemediaimage {
  flex-basis: calc(100% / 3);
}

.singlemediaposter {
  width: 100%;
}

.genres {
  display: flex;
  align-items: center;
}

.genrecontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.genrecontent li {
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px 8px 4px;
  border: 1px solid #aeaeae;
  border-radius: 25px;
}

.singlemediatitle {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.category {
  font-weight: 700;
}

.singlemediacontent p {
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 0 10px 0;
}

.watchBtn,
.makerecommendation {
  display: flex;
  justify-content: center;
}

.watchBtn {
  margin-top: 25px;
}

.selectContainer {
  display: flex;
  justify-content: space-around;
}

.makeratingcontainer {
  display: flex;
  justify-content: center;
}

/*home  2 */

.profileInfo {
  padding: 15px;
}

.welcome {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.post {
}

.commentsbox {
  width: 80%;
  margin-left: 18%;
  margin-top: 15px;
  border-left: 1px solid lightgrey;
  padding-left: 0;
}

.postcomment {
  margin-left: 10px;
  box-shadow: 5px 7px 5px #0000001f inset;
  border: 1px solid #dadada;
  padding: 5px;
}

/*watchlist styles*/

.watch-card {
  background-color: rgb(241, 238, 238);
  display: flex;
  padding: 50px;
  justify-content: center;
}

.rating {
  display: flex;
}

.watch-content {
  margin-left: 20px;
}

.watch-content h1 {
  color: teal;
  font-weight: lighter;
  font-size: 25px;
}

.empty-content {
  margin: auto 10px;
  text-align: center;
}
.empty-content h1 {
  color: teal;
  font-size: 30px;
  margin-top: 50px;
}

.watch-content .remove {
  background-color: gray;
  margin-top: 15px;
}

/* profile*/

.postcomment {
  margin-left: 10px;
}

#standard-basic {
  align-content: center;
}

.sidebarcontainer {
  margin-bottom: 25px;
  text-align: center;
}

/*media list main */
.media-list {
  display: flex;
  border-radius: 5px;
  height: 400px;
  min-width: 275px;
  margin: 10px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.75) 2%,
      rgba(255, 255, 255, 0.5) 50%
    ),
    linear-gradient(
      to top,
      rgba(#000000, 0.25) 0%,
      rgba(216, 216, 216, 0.55) 50%
    ),
    #ceebff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  width: 20vw;
}

.MuiPagination-ul {
  margin: 0 auto;
  color: red;
}

.topProfile {
  margin: 25px;
  background-color: white;
}

.MuiSnackbarContent-root {
  min-width: 150px !important;
  background-color: white !important;
  border: 1px solid #630606 !important;
  color: #630606 !important;
  font-weight: 500 !important;
}

.postImg {
  height: 300px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.75) 2%,
      rgba(255, 255, 255, 0.5) 50%
    ),
    linear-gradient(
      to top,
      rgba(#000000, 0.25) 0%,
      rgba(216, 216, 216, 0.55) 50%
    ),
    #ceebff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.movierating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fr_card {
  margin: 18px;
  font-size: 18px;
  width: 65%;
}

.fl_acc {
  margin: 18px;
  font-size: 24px;
  width: 100%
}
