* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1rem;
  display: inline-block;
} */

.postBox {
  padding-bottom: 10px;
  border-bottom: 2px solid;

  display: flex;
}

.postBox > form {
  display: flex;
  margin-top: 10px;
}

.postBox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.postBox_button {
  background-color: gray !important;
  color: white !important;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  flex-direction:column;
}

.post_body {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
}


.post_headerDesc {
  margin: 10px;
  font-size: 15px;

}

.post_headerText > h3 {
  display: flex;
  font-size: 15px;
  margin: 5px;
}
